:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.headerBackground {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0rem 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 3.5rem;
}

header {
  max-width: 114.2857rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

header nav:first-child img {
  width: 32px;
  height: 32px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
}

header nav ul div {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

nav li {
  display: inherit;
}

nav li:last-child {
  margin-left: 16px;
}

header nav ul div {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.lockup {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.headerstyle {
  font-weight: 600;
  margin-left: -8px;
  font-size: 1.15rem;
  vertical-align: text-bottom;
}

body {
  background: #00fff2;
  background: linear-gradient(to right, #00fff2, #ff9f50);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 20px;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
  margin-top: 10px;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  z-index: 1;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(
      var(--input-padding-y) + var(--input-padding-y) * (2 / 3)
    );
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  /* Fallback for Edge
-------------------------------------------------- */

  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: flex;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }

  /* Fallback for IE
-------------------------------------------------- */

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: flex;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
}
.btn-google {
  color: white;
  background-color: #ea4335;
}

.select {
  padding: 11px;
  width: 17rem;
  margin: flex;
  display: grid;
}
